# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
sdist/
wheel/
egg-info/

# macOS
.DS_Store

# VSCode
.vscode/
